.intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;

}
.namePais{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    text-align: center;
    color: white;
    text-shadow: 2px 0px 2px black, 0px 2px 2px black, -2px 0px 2px black, 0px -2px 2px black;
    border-radius: 10px;
}
.namePais h4{
    font-size: 1.1rem;
}
.imgFlag{
    width: 100%;
    min-height: 125px;
    max-height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgFlag img{
    width: 95%;
    max-height: 125px;
    height: auto;
}

.divInfo{
    margin: 10px auto;
    min-width: 180px;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.Africa{
    background-color: rgba(186, 122, 38, 0.5);
}
.Americas{
    background-color: rgba(255, 255, 0, 0.5);
}
.Europe{
    background-color: rgba(0, 0, 255, 0.5);
}
.Asia{
    background-color: rgba(255, 0, 0, 0.5);
}
.Antarctic{
    background-color: rgba(255, 255, 255, 0.5);
}
.Oceania{
    background-color: rgba(255, 165, 0, 0.5);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 0px 2px black, 0px 2px 2px black, -2px 0px 2px black, 0px -2px 2px black;
}


@media screen and (max-width: 435px) {
    .namePais h4{
        font-size: 1.5rem;
    }
    .divInfo p{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 380px) {
    .info p{
        font-size: 1rem;
    }
}

