.detail{
    display: flex;
    flex-direction: column;
}
.AFRICA{ background-image: url('../assets/africa.jpg'); }
.EUROPE{ background-image: url('../assets/europa.png'); }
.AMERICAS{ background-image: url('../assets/america.jpg'); }
.ASIA{ background-image: url('../assets/asia.jpg'); }
.OCEANIA{ background-image: url('../assets/oceania.jpg'); }
.ANTARCTIC{ background-image: url('../assets/antartida.jpg'); }

.AFRICA,
.EUROPE,
.AMERICAS,
.ASIA,
.OCEANIA,
.ANTARCTIC{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
}
.actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 5px;
    padding: 5px;
}
.actions h3{
    width: 50%;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 0px 2px black, 0px 2px 2px black, -2px 0px 2px black, 0px -2px 2px black;
}
.actions button{
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 1.5px 20px;
    box-shadow: 3px 3px 7px black;
    cursor: pointer;
}
.actions button:hover{
    box-shadow: none;
}

.details{
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: 5px;
}

.modal{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 890px) {
    .details{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


