.modalContainer{
    border: 2px solid black;
    width: 70%;
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0px 0px 10px white;
}
.modalContainer form{
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.modalContainer form input{
    text-align: center;
    font-size: 1.1rem;
}
.modalContainer form label{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.modalContainer form input{
    width: 250px;
    margin: 0px 25px;
}
.modalContainer form input[type='number']{
    width: 50px;
    margin: 0px;
}
.modalContainer form select,
.modalContainer form input[type='text']{
    padding: 0px 10px;
    font-size: 1.1rem;
    margin: 0px 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.duration{
    display: flex;
    justify-content: center;
    align-items: center;
}
.horas{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    width: fit-content;
    border: 1px solid black;
    padding: 0px 3px;
}
.horas input{
    margin: 0px;
    border: none;
}

.selectPaises{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.selectPaises select{
    width: 176px;
    height: fit-content;
}
.listaPaises{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}
.listaPaises p{
    border: 1px solid rgb(0, 255, 0);
    border-radius: 10px;
    background-color: rgba(0, 255, 0, 0.5);
    padding: 1px 4px;
    margin: 3px;
    width: fit-content;
    height: fit-content;
}
.iconClose{
    margin-left: 5px;
    cursor: pointer;
    transition: all .3s;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.iconClose:hover{
    color: red;
}

.modalContainer form input[type='submit'], .closeModal{
    width: fit-content;
    padding: 0px 15px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.3rem;
    margin: 15px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 8px black;
}
.modalContainer form input[type='submit']:hover, 
.closeModal:hover{
    box-shadow: none;
}

.alert{
    background-color: red;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 2px 0px 2px black, 0px 2px 2px black, -2px 0px 2px black, 0px -2px 2px black;
}

@media screen and (max-width: 740px) {
    .modalContainer{
        width: 450px;
    }
    .modalContainer form{
        width: 100%;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 640px) {
    .modalContainer form label,
    .modalContainer form span,
    .modalContainer form h3{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 500px) {
    .modalContainer{
        width: 90%;
    }
}

@media screen and (max-width: 410px) {
    .modalContainer form input[type='text'],
    .modalContainer form input[type='range']{
        width: 50%;
    }
    .modalContainer form .selectPaises select{
        width: 120px;
    }
}