.home{
    width: 100;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

footer{
    text-align: end;
    font-size: 1.3rem;
    margin-right: 50px;
}

@media screen and (max-width: 388px){
    footer{
        text-align: center;
        margin: 0px;
        font-size: 1.1rem;
    }
}

