.Navbar{
    width: 90%;
    max-width: 800px;
    margin: 0px auto;
    padding: 5px 0px;
    border-radius: 10px;
    background-color:  rgba(0, 0, 0, 0) ;
    box-shadow: 0px 0px 10px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBar{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.search{
    display: flex;
    margin: 0px 20px;
    border-radius: 10px;
    border: 3px solid black;
    overflow: hidden;
    box-shadow: 0px 0px 10px white;
}
.search input{
    padding: 2px;
    font-size: 1.1rem;
}
.searchBar button{
    font-size: 1.1rem;
    padding: 2px 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
    transition: all .4s;
}

.pageAndFilters{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.filtros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.filtros select{
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0px 5px;
    border-radius: 10px;
    padding: 2px 5px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
    transition: all .4s;
}

.paginado{
    border-radius: 10px;
    border: 2px solid black;
    min-width: 100px;
    overflow: hidden;
    box-shadow: 0px 0px 10px white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginado input{
    width: 37px;
    text-align: center;
    padding: 2px;
    font-size: 0.9rem;
}
.paginado button{
    font-size: 0.9rem;
    font-weight: bold;
    padding: 2px 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all .4s;
}

.searchBar button:hover,
.filtros select:hover,
.paginado button:hover{
    transform: scale(1.1);
    background-color: white;
    color: black;
}

@media screen and (max-width:640px) {
    .search input{
        width: 68px;
    }
    *{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:470px){
    .paginado{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 30px;
    }
    .Navbar{
        width: 100%;
        border-radius: 0px;
    }
    *{
        font-size: 0.7rem;
    }
}
