.Navbar{
    width: 100%;
    margin: 0px auto;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 10px white;
}

.searchBar,
.pageAndFilters{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filtros select{
    margin: 5px 5px;
    width: 130px;
    border-radius: 10px;
    padding: 2px 5px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
    transition: all .4s;
}

.filtros select:hover{
    transform: scale(1.1);
}


@media screen and (max-width: 435px){
    .Navbar{
        display: block;
        padding: 0px;
    }
    .searchBar, .pageAndFilters{
        display: flex;
        padding-top: 10px;
    }
    .filtros{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .filtros select{
        width: 130px;
        margin-bottom: 10px;
    }
}
