@media screen and (max-width: 760px) {
    .responsive{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .optionsResponsive{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnRes{
        width: fit-content;
        font-size: 1.2rem;
        padding: 2px 5px;
        border-radius: 10px;
        font-weight: bold;
    }
}
@media screen and (max-width: 380px) {
    .responsive thead tr th,
    .responsive tbody tr td{
        font-size: 1rem !important;
    }
}