.search{
    display: flex;
    margin: 0px 20px;
    border-radius: 10px;
    border: 3px solid black;
    overflow: hidden;
    box-shadow: 0px 0px 10px white;
}
.search input{
    padding: 2px;
    font-size: 1.1rem;
}
.searchBar button{
    font-size: 1.1rem;
    padding: 2px 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
    transition: all .4s;
}
.searchBar button:hover{
    transform: scale(1.1);
    background-color: white;
    color: black;
}

@media screen and (max-width:640px) {
    .search input{
        width: 68px;
    }
    *{
        font-size: 0.8rem;
    }
}