.search{
    display: flex;
    margin: 0px 20px;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    box-shadow: 0px 0px 10px white;
}
.search input{
    padding: 2px;
    font-size: 1.1rem;
    width: 150px;
}
.searchBar button{
    font-size: 1rem;
    padding: 2px 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
    transition: all .4s;
}
#verTodos,
#actividades{
    border-radius: 10px;
    margin: 0px 5px;
}
.searchBar button:hover{
    transform: scale(1.1);
    background-color: white;
    color: black;
}

@media screen and (max-width: 435px) {
    .search input{
        width: 80px;
    }
    *{
        font-size: 0.8rem;
    }
}